:root {
    --el-color-white: #fff;
    --el-color-primary: #887baf;
    --el-color-primary-light-3: #a78bfa;
    --el-color-primary-light-5: #c4b5fd;
    --el-color-primary-light-7: #ddd6fe; /*boder color*/
    --el-color-primary-light-8: #ede9fe;
    --el-color-primary-light-9: #f5f3ff; /*background-color*/
    --el-color-primary-dark-2: #5b21b6;
    // base color
    --blue: #324157;
    --light-blue: #3A71A8;
    --red: #C03639;
    --pink: #E65D6E;
    --green: #30B08F;
    --tiffany: #4AB7BD;
    --yellow: #FEC171;
    --pan-green: #30B08F;
    // sidebar
    --menu-text: #bfcbd9;
    --menu-active-text: #887baf;
    --sub-menu-active-text: #f4f4f5;
    --menu-bg: #304156;
    --menu-hover: #263445;
    --sub-menu-bg: #1f2d3d;
    --sub-menu-hover: #001528;
    --side-bar-width: 210px;
}
